.cardsSection {
    display: grid;
    gap: 2rem;
    border-radius: 25px;
    background-color: #F6F6F6;
    padding: 2rem;
    justify-items: center;
}

@media (width >= 768px) {
    .cardsSection {
        grid-template-columns: repeat(3, 1fr);
    }   
}