.headerTitle {
    background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/4706e7dde270fc8fc902a1eb738458e7b29c1899.jpg") center/cover no-repeat;
    border-radius: 20px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}