.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem 2rem;

    & img {
    width: 83px;
    }

    & ul {
        display: flex;
        gap: 2rem;
    }

    & a {
        color: #000;
    }

    & a.active {
        text-decoration: underline;
    }
}

@media (width >= 768px) {
    .wrap {
        & img {
            width: 120px;
        }
    }
}

